.productList{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.productList article{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.productList article p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.productList article a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.productList article a:hover{
    background: #da552f;
    color: #fff
}

.productList .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.productList .actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
}

.productList .actions button:hover{
    opacity: 0.7;
    cursor: pointer;
}

.productList .actions button[disabled]{
    cursor: unset;
    opacity: 0.5;    
}